body {
    background-color: rgb(39, 218, 224);

}
#dog {
    font-family: "Times New Roman", Times, serif}
   
   
    .boxed {
        border: 3px solid rgb(255, 255, 255) ;
      } 

#corn {font-size: 25 }
